 <!-- </div> .content -->
</div><!-- outer-wrap -->

<footer class="footer">

  <div class="footer-container container">

  <small class="copyright center a-center">
<span>&copy;
  <a href="{{var.root-url}}" data-tooltip="Atelier Bram de Haan &middot; 2D vormgeving" class="a-cr data-tooltip">Atelier Bram de Haan</a>
  &nbsp;&middot; 2009 - {{var.year}} &middot;
</span>

  <span class="address mrl">
    <a href="{{var.root-url}}/contact/" class="data-tooltip dt-right" data-tooltip="info[at]atelierbramdehaan.nl">
<span class="icon icon-mail-alt">&nbsp; contact </span></a>
</span>

<span class="mrl">
  <a href="{{var.atelierbram-repo-url}}" class="data-tooltip dt-right" data-tooltip="Github repositories">
<span class="icon icon-github-repo">&nbsp; repos </span>
</a>
  </span>

<span class="mlxs">
<a href="http://atelierbram.github.io/" class="data-tooltip dt-right" data-tooltip="Github speeltuin">
<span class="icon icon-github-merge">play </span>
</a>
  </span>
    <span class="mll">
      <a rel="author" class="data-tooltip dt-right" href="{{var.google-plus-url}}" data-tooltip="Google+">Google+</a>
  </span>
     <span class="mls">
      <a href="https://twitter.com/atelierbram" class="data-tooltip dt-right" data-tooltip="Atelierbram Twitter">Twitter</a>
  </span>

</small>

</div>

</footer>
<script>var xb={evtHash:[],ieGetUniqueID:function(a){return a===window?"theWindow":a===document?"theDocument":a.uniqueID},addEvent:function(a,b,c,d){if("undefined"!=typeof a.addEventListener)"mouseenter"==b?a.addEventListener("mouseover",xb.mouseEnter(c),d):"mouseleave"==b?a.addEventListener("mouseout",xb.mouseEnter(c),d):a.addEventListener(b,c,d);else if("undefined"!=typeof a.attachEvent){var d="{FNKEY::obj_"+xb.ieGetUniqueID(a)+"::evt_"+b+"::fn_"+c+"}",e=xb.evtHash[d];"undefined"==typeof e&&(e=function(){c.call(a)}, xb.evtHash[d]=e,a.attachEvent("on"+b,e),window.attachEvent("onunload",function(){a.detachEvent("on"+b,e)}),d=null)}else a["on"+b]=c},removeEvent:function(a,b,c,d){"undefined"!=typeof a.removeEventListener?a.removeEventListener(b,c,d):"undefined"!=typeof a.detachEvent&&(c="{FNKEY::obj_"+xb.ieGetUniqueID(a)+"::evt"+b+"::fn_"+c+"}",d=xb.evtHash[c],"undefined"!=typeof d&&(a.detachEvent("on"+b,d),delete xb.evtHash[c]))},mouseEnter:function(a){return function(b){var c=b.relatedTarget;this==c||xb.isAChildOf(this, c)||a.call(this,b)}},isAChildOf:function(a,b){if(a==b)return!1;for(;b&&b!=a;)b=b.parentNode;return b==a}};function init(){var a=document.getElementById("tagline");xb.addEvent(a,"mouseenter",enter,!1);xb.addEvent(a,"mouseleave",leave,!1)}function enter(){document.getElementById("body").classList.add("o-h");document.getElementById("body").classList.remove("no-h")}function leave(){document.getElementById("body").classList.remove("o-h");document.getElementById("body").classList.add("no-h")};</script><script>function preloader(){if(document.images){var img1=new Image;var img2=new Image;var img3=new Image;var img4=new Image;var img5=new Image;var img6=new Image;var img7=new Image;var img8=new Image;var img9=new Image;var img10=new Image;var img11=new Image;img1.src="https://lh6.googleusercontent.com/-orJS7wnULXk/UIpc1zB0jmI/AAAAAAAAAOQ/6B5n8IMQIu4/s800/Slang-Glijbaan-414x498.jpg";img2.src="https://lh6.googleusercontent.com/-mTY8HzYZL9U/UIpc0IlfidI/AAAAAAAAAOI/CpstCub6W7k/s800/Nachtdieren-Schommel-426x556.jpg";img3.src="https://lh5.googleusercontent.com/-HyEYaTs9I3o/UIpcw8bbnGI/AAAAAAAAAN4/1qxkqN5Y688/s800/Baviaan-Auto-425x510.jpg";img4.src="https://lh6.googleusercontent.com/-Goi15OOiROY/UIpcyvwtMAI/AAAAAAAAAOA/RRMZRlZbO-M/s800/Geit-Gietijzer-423x515.png";img5.src="https://lh3.googleusercontent.com/-E0ZZuAMnsrw/UIpc3pLuAmI/AAAAAAAAAOY/p-82JXsWqB8/s800/Zeepaard-Ruiterstandbeeld-300x635.jpg";img6.src="https://lh5.googleusercontent.com/-hrKYKKHNQGs/UIpiQFF29vI/AAAAAAAAAO0/dqp4bCQlVoY/s800/mb-beeldlogo-400x400.png";img7.src="https://lh5.googleusercontent.com/-snvbfPUF2oY/UIpiS7y7rbI/AAAAAAAAAO8/jTSBrZLlZLQ/s800/mb-logoheader-400x400.png";img8.src="https://lh5.googleusercontent.com/-1E1Qx7uryl0/UIqTXsIkhJI/AAAAAAAAAQM/c-0fCXZV9Qg/s800/screenshot-mb-info-crop.png";img9.src="https://lh4.googleusercontent.com/-Iuv5-RC1zC4/UIRzD1SI-MI/AAAAAAAAAM8/Y8SmIBTQR38/s800/TT-screenshot-AmericanTypewriter-400x400.png";img10.src="https://lh4.googleusercontent.com/-dTq7jYceZMg/UIRzKl6x4lI/AAAAAAAAANM/muF6CUah4Ho/s800/TT-screenshot-inverted-400x400.png";img11.src="https://lh6.googleusercontent.com/-YIfIQdtkJKQ/UIRzHm83eJI/AAAAAAAAANE/9V6Cmq1GsMY/s800/TT-screenshot-footer-400x400.png"}}function addLoadEvent(func){var oldonload=window.onload;if(typeof window.onload!="function")window.onload=func;else window.onload=function(){if(oldonload)oldonload();func()}}addLoadEvent(preloader);</script>
