<!doctype html>
<html class="no-js core no-flexbox">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{#if description}}<meta name="description" content="{{description}}"/>{{/if}}
    {{#is type "home" }}<style>{{> homeheadstyles}}</style>{{/is}}
    {{#is type "page" }}<link href="{{assets}}/prefixed/style.min.css" rel="stylesheet">{{/is}}
    {{#is type "page-new" }}<link href="{{assets}}/prefixed/style-2015.min.css" rel="stylesheet">{{/is}}
    <!-- {{#is theme "gallery" }}<link href="{{assets}}/prefixed/gallery.min.css" rel="stylesheet">{{/is}} -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="author" href="https://plus.google.com/+BramdeHaan/posts">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/atelierbram/atelierbram.github.com/master/favicon.ico" type="image/x-icon" />
<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js '; if ( 'querySelector' in document && 'addEventListener' in window && Array.prototype.forEach ) { document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, '') + ' enhanced '; } var s = document.body || document.documentElement, s = s.style; if( s.webkitFlexWrap == '' || s.msFlexWrap == '' || s.flexWrap == '' ) { document.documentElement.className = document.documentElement.className.replace(/\bno-flexbox\b/g, '') + ' flexbox '; }
</script>
</head>

{{#is theme "gallery" }}<body class="gallery">{{/is}}
{{#is theme "article" }}<body class="article">{{/is}}
{{#is theme "index" }}<body class="index">{{/is}}
{{#is theme "info" }}<body class="info">{{/is}}
{{> body }}
{{#is page-id "contact" }}<script>{{> wufoo-embed-js}}</script>{{/is}}
{{#is type "home" }}<script>{{> homepage-embed-js}}</script>{{/is}}
{{#is type "page" }}<script src="{{assets}}/js/main.min.js"></script>{{/is}}
</body>
</html>
